<div class="container-fluid">
    <div class="#">
        <h2>Manage Training Session</h2>
    </div>
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                <h3>Title:  {{traininglog.training.title}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>Training Date: </h4><span>{{traininglog.startDate | date: 'dd/MM/yyyy'}}</span>
            </div>
            <div class="col-md-3">
                <h4>Facilitator(s): </h4><span data-ng-repeat="facilitator in traininglog.facilitator">{{facilitator.Name}}, </span>
            </div>
            <div class="col-md-3">
                <h4>Target: </h4>{{traininglog.target}} <span data-ng-repeat="department in traininglog.targetDepartment" class="label label-xs label-primary">{{department.title}}</span>
            </div>
            <div class="col-md-3">
                <span class="btn-group pull-right">
                    <a href="#listTraininglog" class="btn btn-sm btn-info">
                        <i class="fa fa-home"></i>
                        &lt;&lt; Home
                    </a>
                    <a href="#showTraininglog/{{traininglog.id}}" ng-click="addTrainingattendee(traininglog)" class="btn btn-sm btn-success">
                        <i class="fa fa-plus-circle"></i>
                        Add Attendee
                    </a>
                </span>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-striped table-hover">
        <tbody>
            <tr>
                <th>Payroll</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Position</th>
                <th>Department</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="attendance in traininglog.attendances">
                <td>{{attendance.attendee.payrollNo}}</td>
                <td>{{attendance.attendee.name}}</td>
                <td>{{attendance.attendee.gender}}</td>
                <td>{{attendance.attendee.position.title}}</td>
                <td>{{attendance.attendee.department.title}}</td>
                <td>{{attendance.attendee.location.title}}</td>
                <td><a href="#showTraininglog/{{traininglog.id}}" class="btn btn-sm btn-warning" ng-click="removeAttendee(traininglog, attendance)"><i class="fa fa-trash"> </i> Delete</a> </td>
            </tr>
        </tbody>
    </table>
</div>