<div class="row">
    <div class="col-md-12">
        <h2><i class="fa fa-graduation-cap"></i> Training Logs</h2>
    </div>
</div>
<div class="well">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label" for="title">
                    Start Date:
                </label>
                <input class="form-control" id="title" name="title" type="date" ng-model="sStartDate" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label" for="title">
                    End Date:
                </label>
                <input class="form-control" id="title" name="title" type="date" ng-model="sEndDate" />
            </div>
        </div>
        <div class="col-md-3">
            <label class="control-label">Filter by training date</label>
            <button class="btn btn-sm btn-primary form-control" ng-disabled="!sStartDate || !sEndDate || (sStartDate > sEndDate)" ng-click="filterByTrainingDates()" type="button"><i class="fa fa-filter"></i> Filter</button>
        </div>
        <div class="col-md-3">
            <label class="control-label">&nbsp;</label>
            <button class="btn btn-sm btn-success form-control" ng-click="init()" type="button"><i class="fa fa-refresh"></i> Refresh</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pull-right" ng-show="permissions.canAdd">
            <a href="#listTraininglogs" ng-click="addTraininglog()" class="btn btn-sm btn-success">
                <i class="fa fa-plus-circle"></i>
                Add
            </a>
        </div>

        <div class="btn-group pull-left">
            <a href="{{link.url}}" class="btn btn-sm btn-info" ng-repeat="link in links">
                <i class="fa {{link.icon}}"></i>
                {{link.title}}
            </a>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-condensed table-striped table-hover">
            <tbody>
                <tr>
                    <th>Training Date</th>
                    <th style="min-width: 250px;">Title</th>
                    <th>Facilitator(s)</th>
                    <th class="hidden-sm">Target</th>
                    <th style="width: 110px"></th>
                </tr>
                <tr dir-paginate="traininglog in traininglogs | orderBy: '-startDate' | itemsPerPage: 5">
                    <td>{{traininglog.startDate | date: 'dd/MM/yyyy' : 'africa/nairobi'}}</td>
                    <td>{{traininglog.training.title}} <span class="badge label-primary">{{traininglog.attendances.length}}</span></td>
                    <td><span data-ng-repeat="facilitator in traininglog.facilitator">{{facilitator.Name}},</span></td>
                    <td class="hidden-sm"><span>{{traininglog.target}}</span> <span data-ng-repeat="department in traininglog.targetDepartment" class="label label-xs label-primary">{{department.title}}</span> </td>
                    <td>
                        <div class="btn-group" uib-dropdown>
                            <button id="split-button" type="button" class="btn btn-sm btn-info"><i class="fa fa-gear"> </i> Action</button>
                            <button type="button" class="btn btn-sm btn-info" uib-dropdown-toggle>
                                <span class="caret"></span>
                                <span class="sr-only">Split button!</span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                <li role="menuitem"><a href="#showTraininglog/{{traininglog.id}}" ng-click="showTraininglog(traininglog.id)"><i class="fa fa-search"> </i> View Attendees</a></li>
                                <li role="menuitem"><a href="#editTraininglog/{{traininglog.id}}" ng-click="editTraininglog(traininglog)" ng-show="permissions.canEdit"><i class="fa fa-pencil"> </i> Edit</a></li>
                                <li role="menuitem"><a href="#listTraininglogs" ng-click="deleteTraininglog(traininglog)"><i class="fa fa-trash" ng-show="permissions.canDelete"> </i> Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        <dir-pagination-controls boundary-links="true" template-url="common/directives/pagination/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>
